<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Amit_Learning::learning" title="Learning"
             module="Amit_Learning" resource="Amit_Learning::learning"
             translate="title" sortOrder="900" action="learning"/>
    </menu>
</config>
